---
---

@import "{{ site.theme }}";

header {
    height: 220px;
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}

footer{
    text-align: center
}

#main-content h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}

#main-content h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}

#main-content h3 {
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}

#main-content h4 {
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}

#main-content h5 {
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}

#main-content h6 {
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}